DATABASE_USER=postgres.magwdgwekgcejsvddyfq
DATABASE_NAME=postgres
DATABASE_PASSWORD=AngelicMA0707.
DATABASE_HOST=aws-1-us-east-1.pooler.supabase.com
DATABASE_PORT=6543

PORT=3001
JWT_SECRET=angelica_secret_key